body{
color: black;
background-image: url('bg-01.jpg') ;
background-size: cover;
background-repeat: no-repeat
width:100vw;
height:auto;
	font:15px/1.5 Helvetica, Arial,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}
.main_box{
width: 55vw;
height: auto;
border-radius:20px;
position: relative;
margin-left: 20vw;
margin-top: 5vh;
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color:rgba(255, 255, 255, 0.2);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#main_name{
font-size: 50px;
font-weight: bolder;
color:
}

textarea {
font-size: 40px;
max-width: 30vw;
max-height: 10vh;
font-size: 40px;
}

.container{

height:40%
	width:100%;
	margin: auto;
	overflow: hidden;
}
.ml-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
header{


	height:120px;
	width:100%;
	padding-top:30px;

}

.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}
#hahaha{

justify-content:center;
	display:flex;
	align-items:center;
	font-size:30px;


}

header h2{
	text-align:center;


}

.pred{

border-radius:12px;
    margin:left;
    display:flex;
    justify-content:center;
    align-items:center;
}
.ly{
    font-weight: bolder;
    margin-left: 0rem;
    display:flex;
    justify-content:center;
    align-items:center;

}

.btn-info {
border-radius:12px;
    background-color: #fff;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #a8eb12;}


.results{
position:relative;
margin-left:23vw;
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 50vw;
    height: auto;
    overflow: auto;
}


