<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container" >
		<div id="hahaha">
			Lyrics Prediction App Using Python
		</div>
		<h2>This Web App Creates a custom lyrics based on user input</h2>

	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p class="ly">Enter Your Starting Lyrics Here</p>
		
		<textarea name="message" rows="4" cols="50" style="border-radius:12px";></textarea>
		<br/>
			<div class="pred">
					<input type="submit" class="btn-info" value="Predict">
<!--				<button class="btn-info" value="predict">submit</button>-->
			</div>
	</form>
		
	</div>

	
	

</body>
</html>